# **Python Practice**

## Create all the Data Type of Python in different    `variable`.
* Str
* Int
* FLoat
* List
* Tuple
* Dict
* Set

In [1]:
name="Sabreena"
print(type(name))
number=456
print(type(number))
fnumber=24.5
print(type(fnumber))
li=["sabreena","poornima","ankita","aamin",56,687]
print(type(li))
tu=("apple","mango","banana","orange")
print(type(tu))
dic={"maths":99,"physics":98,"chem":100}
print(type(dic))
set={"rose","sunflower","lily",78.46,78.46}
print(type(set))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

## Create a list of your 5 friends and name its variable `friend`.

In [2]:
friend=["aamin","poornima","ankita","anushka","kp"]
print(friend)
print(type(friend))

['aamin', 'poornima', 'ankita', 'anushka', 'kp']
<class 'list'>

## Make them a `Set` and name it `set_friend`.

In [3]:
set_friend={"aamin","poornima","ankita","anushka","kp"}
print(set_friend)
print(type(set_friend))

{'poornima', 'aamin', 'anushka', 'kp', 'ankita'}
<class 'set'>

## Create a dict of students with name `a, b, c, d, e, f` and the number is `20, 12, 14, 15, 18`.

In [4]:
dict={"a":20,"b":12,"c":14,"d":15,"e":18}
print(dict)
print(type(dict))

{'a': 20, 'b': 12, 'c': 14, 'd': 15, 'e': 18}
<class 'dict'>

## What are the rules of `variable`.

In [ ]:
variable name should not begin with a digit.
variable name should not hava space between two consecutive words.
It should not be a reserved word.

## Print the table of `5`.

In [5]:
for table in range(1,11):
    print(f"5 X {table} = {5*table}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## Print your name `25 times`.

In [7]:
i=1
while i<=25:
    print("Sabreena")
    i+=1

Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena
Sabreena

## Create a list of `Months` and run a while loop print all the names of present in the list until `March` after printing the march break the code.

In [22]:
Months=["Jan","Feb","March","April","May","June","July","August","Sept","Oct","Nov","Dec"]
i=0
while i<3:
    print(Months[i])
    i=i+1

Jan
Feb
March